@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./variables.css');

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.712);
}

#logo {
    width: 110px;
    height: 110px;
}



.a-wrapper-header a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-family: "Roboto", sans-serif;
      font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin: 0 5px;

}

.a-wrapper-header a:hover{
    box-shadow: 0px 2px 0px black;
    cursor: pointer;

}

.btn-header {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--secundaryColor);
    color: white;
}

.btn-header-accessibility{
    background-color: var(--principalColor);
}


.btn-header:hover {
    cursor: pointer;
    background-color: var(--secundaryColorHover);
}
.btn-header-accessibility:hover{
    cursor: pointer;
    background-color: var(--principalColorHover);
}
