
@import url('./external/reset.css');
@import url('./header.css');
@import url('./sec01.css');
@import url('./sec02.css');
@import url('./sec03.css');
@import url('./sec04.css');
@import url('./sec05.css');


@import url('./receitas.css');
@import url('./brincadeiras.css');
@import url('./references.css');

@import url('./main_responsive.css');

@import url('./variables.css');
@import url('./footer.css');


:root {
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    
}

body{
    font-size: 1rem;
}

h1 {
    font-size: 4.5rem;
}

.arrow-scroll{
    background-color: var(--principalColor);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    right: 30px;
    bottom: 10px;
}

.arrow-scroll:hover{
        cursor: pointer;
}

.arrow-scroll img {
    width: 25px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    padding: 20px 0;
}

@media only screen and (min-width: 801px) {
section {
    .container {
            width: 50%;
            
    }
}
}


.sec-background-color,.sec-background-white{
        h2{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        }
}

.sec-background-white {
    background-color: white;

    h2 {
        color: var(--terciaryColor);
    }
}

.sec-background-color {
    background-color: var(--terciaryColor);
    color: #fff;

    h2 {
        color: #fff;
    }
}


