@import url('/src/style/variables.css');
@media only screen and (max-width: 950px) {

    .a-wrapper-header {
        display: none;
    }

    .menu-hamburguer {
        display: block;
    }
    

    
    .bars {
        position: relative;
    }

    .bars span{
        position: absolute;
        background-color: var(--terciaryColor);
        display: block;
        width: 40px;
        height: 8px;
        border-radius: 20px;
        transition: 0.5s all;
    }

    .bars span {
        right: 0px;
    }

    .bars span:nth-child(1){
        top: -15px;

    }
    .bars span:nth-child(2){
        top: 0px;

    }
    .bars span:nth-child(3){
        top: 15px;

    }

    .btn-accessibility {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position:fixed;
        bottom: 30px;
        left: 10px;
        z-index: 1000;
    
    }

    #menu-check:checked ~ .bars .wrapper-bars .bars-item:nth-child(1) {
        transform: rotate(45deg);
        top: 0px;
            
    }   

    #menu-check:checked ~ .bars .wrapper-bars .bars-item:nth-child(2) {
        opacity: 0;
    }

    #menu-check:checked ~ .bars .wrapper-bars .bars-item:nth-child(3) {
        transform: rotate(-45deg);
        top: 0px;
          
    }

    section{
        .container {
                width: 70%;
                
        }
    }


    #logo {
    width: 100px;
    height: 100px;
    }
    
    #menu-check{
        display: none;
    }

    #list-menu-hamburguer {
        background-color: rgba(255, 255, 255, 0.76);
        height: auto;
        width: 70%;
        padding: 50px;
        display: none;
        position: absolute;
        top:100px;
        left: 0;
        z-index: 100000;
        border-radius: 0px 0px 10px 0px;
        transition: 0.5s all ease;
        color: var(--principalColor);
    }

    #list-menu-hamburguer li {
        padding: 20px 0;
        box-shadow: 0px 2px 0.5px var(--terciaryColor);
        text-align: center;
    }

    #list-menu-hamburguer a{
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
    }



    #menu-check:checked ~ #list-menu-hamburguer {
        display: block;
    }
    
 



    .custom-shape-divider-bottom-1750282183 svg {
        height: 100px;
    }


    .grid-brincadeiras, .grid-receitas, .grid-references {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px; 
    }


    #sec-receitas, #sec-brincadeiras{
        text-align: center;
    }

    .window-modal-brincadeiras, .window-modal-receitas {
        width: 90vw;
        height: 60vh;       
    }


    .img-modal-brincadeiras img, .img-modal-receitas img{
        width: 100px;
    }


    .card-receitas img{
        width: 130px;
        height: 130px;
    }

    .card-receitas, .card-brincadeiras {
        width: 300px;
        height: 200px;
    }

    .card-receitas-info img {
    width: 30px;
    height: 30px;
}



}


@media only screen and (min-width: 950px) and (max-width:1500px) { 

    .grid-brincadeiras, .grid-receitas, .grid-references {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    }




}