@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#sec01 {
    background-image: url("../assets/img/banner-sec01.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    min-height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

}

h1,h2 {
    color: white;
}

.title-sec01{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.custom-shape-divider-bottom-1750282183 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1750282183 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 300px;
}

.custom-shape-divider-bottom-1750282183 .shape-fill {
    fill: #FFFFFF;
}
