@import url('variables.css');
#sec02{
    position: relative;
}


.custom-shape-divider-bottom-1750273377 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1750273377 svg {
    position: relative;
    display: block;
    width: calc(175% + 1.3px);
    height: 0px;
}

.custom-shape-divider-bottom-1750273377 .shape-fill {
    fill: var(--secundaryColor);
}

